In [1]:
from fablr import dataframes as d

In [2]:
from fablr.extended_providers import sample_dataframe_provider, sample_list_provider

In [3]:
gen = d.Fablr()
gen.set_seed(123)

In [8]:
from datetime import datetime as dt
date_format = '%Y-%m-%d'
column_providers_dict = {
  'user_id': {'provider':'random_int', 'unique': True, 'kwargs':{"min":0, "max": 1e10}},
  'first_name': {'provider': 'first_name', 'kwargs': {}},
  'last_name': {'provider': 'last_name', 'kwargs': {}},
  'email': {'provider': 'email', 'kwargs': {}},
  'last_login': {'provider': 'date_between_dates',
                 'kwargs': {'date_start': dt.strptime('2023-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
  'subscription_tier' : {'provider': 'sample_list',
                         'kwargs':{'list':["Free", "Plus", "Premium"], 'unique': False}}
}

In [7]:
data = gen.generate_dataframe(2, column_providers_dict)
data.head(5)

,user_id,first_name,last_name,email,last_login,subscription_tier
0,8420556109,Alexander,Orozco,ocohen@example.net,2023-08-20,Plus
1,6096689979,William,Boone,jessicamiller@example.com,2023-09-13,Free

In [ ]:
gen.fake.add_provider(to_many_provider)
gen.fake.add_provider(to_one_provider)

NameError: name 'to_many_provider' is not defined

In [ ]:
gen.fake.unique.random_int()

6418

In [ ]:
data

NameError: name 'data' is not defined

In [ ]:
dict_df ={
    "col_1": ["a", "b", "c","c", "c"],
    "col_2": ["d", "e", "f", "g", "h"],
}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(dict_df)

In [ ]:
df["col_1"].drop_duplicates()

0    a
1    b
2    c
Name: col_1, dtype: object