In [1]:
from fablr import dataframes as d
from fablr.sample_assets.artists import artists as artists_list

In [2]:
from fablr.extended_providers import sample_dataframe_provider, sample_list_provider

In [3]:
gen = d.Fablr()
gen.set_seed(123)

In [4]:
from datetime import datetime as dt
date_format = '%Y-%m-%d'
users_dict = {
  'user_id': {'provider':'random_int', 'kwargs':{"min":0, "max": 2e5}},
  'first_name': {'provider': 'first_name', 'kwargs': {}},
  'last_name': {'provider': 'last_name', 'kwargs': {}},
  'email': {'provider': 'email', 'kwargs': {}},
  'last_login': {'provider': 'date_between_dates',
                 'kwargs': {'date_start': dt.strptime('2023-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
  'subscription_tier' : {'provider': 'sample_list',
                         'kwargs':{'list':["Prime", "Standard"], 'unique': False}}
}

users_df = gen.generate_dataframe(100000, users_dict, primary_keys=['user_id'])
users_df.head(3)

       user_id first_name  last_name                      email  last_login  \
0        13726     Joseph       Mack       daniel06@example.net  2023-08-07
1        89338    Melissa      Moore          ann32@example.org  2023-06-19
2       156657   Nicholas      Smith        cgarcia@example.org  2023-09-17
3        33095     Kristy      Smith         qberry@example.com  2023-11-22
4        79979    Matthew      Solis     lorifowler@example.net  2023-11-11
...        ...        ...        ...                        ...         ...
99995   113628    Michael      Jones     youngbryan@example.org  2023-08-21
99996    99887     Ashley    Herrera  kimberlyellis@example.net  2023-09-26
99997   142397      James      Adams    trevinoevan@example.net  2023-05-11
99998   144714    Rebecca  Middleton  holmeskenneth@example.org  2023-03-26
99999    40949       John      Lopez     taylormark@example.net  2023-02-09

      subscription_tier
0              Standard
1                 Prime
2                 Prime
3                 Prime
4              Standard
...                 ...
99995          Standard
99996             Prime
99997          Standard
99998          Standard
99999             Prime

[100000 rows x 6 columns]
       user_id first_name last_name                       email  last_login  \
0        13726     Joseph      Mack        daniel06@example.net  2023-08-07
1        89338    Melissa     Moore           ann32@example.org  2023-06-19
2       156657   Nicholas     Smith         cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith          qberry@example.com  2023-11-22
4        79979    Matthew     Solis      lorifowler@example.net  2023-11-11
...        ...        ...       ...                         ...         ...
98834   103701       John    Davila  castillocheryl@example.org  2023-08-03
98835    53302    Jeffrey    Hunter     pagemichele@example.org  2023-10-10
98836   183559       Lisa   Shelton        coxemily@example.org  2023-03-13
98839   155528    Crystal      Hill    trevinocarla@example.net  2023-07-30
98840   163200      Roger   Elliott        ranthony@example.net  2023-11-17

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
98834             Prime  fbe99980883db630c5a360f446c97576fd4050db02d704...
98835             Prime  c2f9d63ce1033dcff77f682883bd6471b27dc682b62f89...
98836          Standard  e43af77f5add5202bfd92cffb41d9a6e01edef93184cdf...
98839             Prime  e6d88fec7282bd342ddc8eb613e3eed79eb98f5b497aa6...
98840             Prime  3476fe3cdf97bed62d260cfe146dbc88f5175ce601b209...

[90960 rows x 7 columns]
       user_id first_name last_name                       email  last_login  \
0        13726     Joseph      Mack        daniel06@example.net  2023-08-07
1        89338    Melissa     Moore           ann32@example.org  2023-06-19
2       156657   Nicholas     Smith         cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith          qberry@example.com  2023-11-22
4        79979    Matthew     Solis      lorifowler@example.net  2023-11-11
...        ...        ...       ...                         ...         ...
99776    52440    Melissa   Rosales        andrew33@example.com  2023-06-11
99780    18722  Christina    Tucker  clementsdarren@example.com  2023-10-03
99781   184238      Joyce     Garza      gvelazquez@example.net  2023-11-14
99786    97548    Matthew  Santiago         diana59@example.net  2023-06-13
99788    78044      Ruben       Lee     richrichard@example.org  2023-05-24

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99776             Prime  3a083404e9108f5655c6fbbd4cfb457ec2efd0e353b087...
99780          Standard  0d7ffd65e83980c34fa968a66b2ab1428073b9d0a15834...
99781             Prime  5f3ae09d379cd1886dd678840e36e5816429b8ddffd63d...
99786             Prime  09d43f15e27c1e0753743b8ce1f55006b522731bce2fb7...
99788             Prime  16d9ef735e837f6a159ae4f5ef5e3a9f0893380fc83095...

[95729 rows x 7 columns]
       user_id first_name  last_name                         email  \
0        13726     Joseph       Mack          daniel06@example.net
1        89338    Melissa      Moore             ann32@example.org
2       156657   Nicholas      Smith           cgarcia@example.org
3        33095     Kristy      Smith            qberry@example.com
4        79979    Matthew      Solis        lorifowler@example.net
...        ...        ...        ...                           ...
99949   150599      Kathy  Zimmerman       hurstjoseph@example.net
99952    82389       Lisa  Hernandez         william57@example.org
99953   190853        Jay    Alvarez      marshallpaul@example.net
99955   102002       Juan   Mitchell  katherinejackson@example.org
99956   151165    Phyllis  Carpenter          sherri26@example.com

       last_login subscription_tier  \
0      2023-08-07          Standard
1      2023-06-19             Prime
2      2023-09-17             Prime
3      2023-11-22             Prime
4      2023-11-11          Standard
...           ...               ...
99949  2023-06-28          Standard
99952  2023-01-05             Prime
99953  2023-05-27             Prime
99955  2023-05-13             Prime
99956  2023-02-13          Standard

                                                    hash
0      624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1      ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2      b89417b28419dba93300e664421b0ce243fab5851c254b...
3      bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4      69a901004111806b63985b9fb61f4797a788b288c78953...
...                                                  ...
99949  5ffe8f6209f75c1ec8fb870636753227cb17191d694752...
99952  f152ae8225277a25b7f03193ec715ab2d7279c53bd199f...
99953  dd203d0330b4d9c28515d41e1ee836e0b9c80b36bb0299...
99955  5adc4693363b2104d6df8981c36c752a1a2d98087df03e...
99956  8ef858a63dbecd8ea6caa8b66b2e3d16ad1eff8434e247...

[97889 rows x 7 columns]
       user_id first_name last_name                    email  last_login  \
0        13726     Joseph      Mack     daniel06@example.net  2023-08-07
1        89338    Melissa     Moore        ann32@example.org  2023-06-19
2       156657   Nicholas     Smith      cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith       qberry@example.com  2023-11-22
4        79979    Matthew     Solis   lorifowler@example.net  2023-11-11
...        ...        ...       ...                      ...         ...
99981   103753   Samantha    Waters  robertriley@example.com  2023-04-15
99983    99294     Daniel  Hamilton   wolfconnie@example.net  2023-08-22
99984   193663       John    Kelley  daltondonna@example.net  2023-03-24
99986    49755       Mary   Hoffman     amanda30@example.com  2023-08-31
99990     2312       Evan    Wilson  greenetracy@example.com  2023-08-27

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99981             Prime  8a97ea5291be74f160ae48024c63f56b285ffbea00705b...
99983             Prime  35063e490660d923c13936ef7e189092e196caf487769d...
99984          Standard  68258ee2435d06664c42b3fdc8e0ed79a962bf62cb2d8d...
99986          Standard  00ed53989532cff023fc7776f13e584d75149e80f528b1...
99990          Standard  08dd19ebe332aeb67bca30589e54e627232949c7373d3e...

[98965 rows x 7 columns]
       user_id first_name last_name                    email  last_login  \
0        13726     Joseph      Mack     daniel06@example.net  2023-08-07
1        89338    Melissa     Moore        ann32@example.org  2023-06-19
2       156657   Nicholas     Smith      cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith       qberry@example.com  2023-11-22
4        79979    Matthew     Solis   lorifowler@example.net  2023-11-11
...        ...        ...       ...                      ...         ...
99982    98538    Bethany     White  hollychavez@example.org  2023-07-02
99983    42148       Dale    Hooper  coltonmejia@example.com  2023-11-05
99990   198690    Christy    Walter  jeremywoods@example.net  2023-09-10
99996    28641      Scott    Miller   lewissusan@example.org  2023-07-28
99998   186229     Brandi      Hood   patricia65@example.com  2023-09-19

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99982             Prime  90fed5c892263e24f13ef303bb5025b177d3065a4e35e7...
99983          Standard  7bbb389584ec1a30f70fe3e013f5a1f08d205e73e55f7c...
99990             Prime  de3c9cc46dd5c7096ca26f6390ce9191a45e080c9f205a...
99996             Prime  de589972d0ecd3bfa71ad92bb7fb95ece3be6e9b85a75a...
99998          Standard  2a1595aefd9deb68ddfcb8f8c290b19e0013bddcdbb508...

[99478 rows x 7 columns]
       user_id first_name   last_name                            email  \
0        13726     Joseph        Mack             daniel06@example.net
1        89338    Melissa       Moore                ann32@example.org
2       156657   Nicholas       Smith              cgarcia@example.org
3        33095     Kristy       Smith               qberry@example.com
4        79979    Matthew       Solis           lorifowler@example.net
...        ...        ...         ...                              ...
99989    27584     Pamela  Cunningham  christinarichardson@example.org
99991   124848  Stephanie       Green              msuarez@example.com
99996    66470      Brian      Little          thomashaley@example.com
99997    16932      Karen        Hunt        arthurraymond@example.net
99999   186796       Paul       Allen              wayne31@example.org

       last_login subscription_tier  \
0      2023-08-07          Standard
1      2023-06-19             Prime
2      2023-09-17             Prime
3      2023-11-22             Prime
4      2023-11-11          Standard
...           ...               ...
99989  2023-09-01             Prime
99991  2023-03-15          Standard
99996  2023-08-18          Standard
99997  2023-07-26             Prime
99999  2023-03-30             Prime

                                                    hash
0      624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1      ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2      b89417b28419dba93300e664421b0ce243fab5851c254b...
3      bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4      69a901004111806b63985b9fb61f4797a788b288c78953...
...                                                  ...
99989  48e6d04f5a5a17b40dc07569d1ef5a521a72c8b7495587...
99991  15b20836b20dcf14b1c9550a748c69910c86dc7cc4fd25...
99996  cfd65457d2531e6ef7e4f6bc2c4c89cb546bd8685e0571...
99997  96ddc39beccce5eaf39e1bb045943e357e59e275eebbcb...
99999  28f72d8dcc5256866a13e3788b71ef3549c81cab497607...

[99737 rows x 7 columns]
       user_id first_name last_name                    email  last_login  \
0        13726     Joseph      Mack     daniel06@example.net  2023-08-07
1        89338    Melissa     Moore        ann32@example.org  2023-06-19
2       156657   Nicholas     Smith      cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith       qberry@example.com  2023-11-22
4        79979    Matthew     Solis   lorifowler@example.net  2023-11-11
...        ...        ...       ...                      ...         ...
99993   194845   Jennifer     Young    stephen23@example.net  2023-09-26
99994   154804     Daniel  Williams  susaningram@example.com  2023-06-17
99995     4892    Gregory    Martin  lauriejones@example.com  2023-01-06
99996    76806     Joshua     Davis   morancarla@example.com  2023-09-23
99997    54959       Mark   Johnson  davidwarner@example.net  2023-06-27

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99993          Standard  2a0ba891495101a74addc58cbbf9c80d6e488b765ccf6f...
99994             Prime  cb817c12026deec87f6bc2861aac583db5a6db12ded2fc...
99995          Standard  58144ba2f74ee1c8c3ec8c689f397da2e24c26f775a7bf...
99996          Standard  0dd9c2ea963dae7c2a4ab5cac7e8b4523b9811d7ff93a8...
99997          Standard  b0fe5b9f58430b139d20b2150ad0b62548414bb3f99293...

[99876 rows x 7 columns]
       user_id first_name    last_name                       email  \
0        13726     Joseph         Mack        daniel06@example.net
1        89338    Melissa        Moore           ann32@example.org
2       156657   Nicholas        Smith         cgarcia@example.org
3        33095     Kristy        Smith          qberry@example.com
4        79979    Matthew        Solis      lorifowler@example.net
...        ...        ...          ...                         ...
99987    22650  Christian        Berry         craig47@example.net
99992   186426     Thomas        Jones        joseph93@example.org
99993   103710      Kelli        Payne         dwatson@example.org
99994     9006      James        Adams   cardenaskelly@example.net
99995    91845      Maria  Blankenship  johnsonmatthew@example.com

       last_login subscription_tier  \
0      2023-08-07          Standard
1      2023-06-19             Prime
2      2023-09-17             Prime
3      2023-11-22             Prime
4      2023-11-11          Standard
...           ...               ...
99987  2023-06-25          Standard
99992  2023-05-03             Prime
99993  2023-06-19          Standard
99994  2023-05-12             Prime
99995  2023-05-27          Standard

                                                    hash
0      624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1      ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2      b89417b28419dba93300e664421b0ce243fab5851c254b...
3      bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4      69a901004111806b63985b9fb61f4797a788b288c78953...
...                                                  ...
99987  fcf12e9eea023ff9ab4235dbfbd2503d9eecc3f96219fb...
99992  c8209dfdd30647c40b996f7cc93dec7d88764a1e49606c...
99993  ea9fac4027613a29f3cf2456f8307ff4c41d4944a0a2ff...
99994  84c5a61b5e98b38c1016114c37d3cd3d406cd120444b00...
99995  eae0433b15dff383cae2ecf7b2bbfe7c1834c2335e9547...

[99929 rows x 7 columns]
       user_id first_name last_name                        email  last_login  \
0        13726     Joseph      Mack         daniel06@example.net  2023-08-07
1        89338    Melissa     Moore            ann32@example.org  2023-06-19
2       156657   Nicholas     Smith          cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith           qberry@example.com  2023-11-22
4        79979    Matthew     Solis       lorifowler@example.net  2023-11-11
...        ...        ...       ...                          ...         ...
99992   122888     Isabel       Ray         kimlogan@example.com  2023-10-08
99995   195982      Sarah  Crawford          david11@example.net  2023-02-08
99996   153236       Jade      West          mdaniel@example.com  2023-03-27
99997   164235    Rebecca    Powell  tiffanythompson@example.net  2023-11-08
99998     3835       Mary    Murray          joycain@example.net  2023-02-23

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99992          Standard  c1d39cf5ac34a454133eb8212db73f5991d26bc849bf9e...
99995             Prime  bbd343e55dded3142a9071c42d0ea4047154117d626159...
99996             Prime  a7a9ac07af5c661bb8cdb86396283def7dbc39b34d6189...
99997          Standard  de1d93e41a8696100e768b5b8850f692757883810e7a2b...
99998             Prime  bbc0ac0c3f912b406dd80245ace6ad0568567ceec29ee4...

[99965 rows x 7 columns]
       user_id first_name last_name                     email  last_login  \
0        13726     Joseph      Mack      daniel06@example.net  2023-08-07
1        89338    Melissa     Moore         ann32@example.org  2023-06-19
2       156657   Nicholas     Smith       cgarcia@example.org  2023-09-17
3        33095     Kristy     Smith        qberry@example.com  2023-11-22
4        79979    Matthew     Solis    lorifowler@example.net  2023-11-11
...        ...        ...       ...                       ...         ...
99990    98556     Curtis  Martinez       wdeleon@example.org  2023-06-10
99991    64600       Gina     Weeks    potterbeth@example.com  2023-07-19
99992   160921    Cynthia       Gay       pmelton@example.org  2023-05-21
99993    57219    Anthony     Hines    xrobertson@example.org  2023-11-08
99996    33078    Matthew     Garza  zacharydixon@example.com  2023-09-22

      subscription_tier                                               hash
0              Standard  624a88a52988f00f398eec313b507227d7b13cdf6d52ad...
1                 Prime  ea0b5414159df568d0cff4960d1de71ff2888f55cae120...
2                 Prime  b89417b28419dba93300e664421b0ce243fab5851c254b...
3                 Prime  bf83ce2ff6d630c6237ab44b95b80e40889b65c9a1bea7...
4              Standard  69a901004111806b63985b9fb61f4797a788b288c78953...
...                 ...                                                ...
99990             Prime  bf2d9d0a8f949c48af9aff1864efcbb7fa8a70f174c8d8...
99991             Prime  ccf2a8eb6f627d29ab8d12928f328738ae1d24fa36794c...
99992          Standard  82617ba11b7876657c05549f1f166c5fa2749f9c08f370...
99993             Prime  6b43b46f49e21a1837c638a548eb5152b21a5bbfa44c27...
99996             Prime  1f8d4ed97b1d1fea598ac028613b67d739a3ebf1f964f1...

[99985 rows x 7 columns]
       user_id first_name last_name                      email  last_login  \

,user_id,first_name,last_name,email,last_login,subscription_tier
0,13726,Joseph,Mack,daniel06@example.net,2023-08-07,Standard
1,89338,Melissa,Moore,ann32@example.org,2023-06-19,Prime
2,156657,Nicholas,Smith,cgarcia@example.org,2023-09-17,Prime

In [7]:
users_df["user_id"].drop_duplicates().shape[0]

100000

In [5]:
events_dict = {
    'event_id': {'provider':'bothify', 'kwargs':{'text': 'eid_????-#####'}},
    'event_name': {'provider': 'sample_list', 'kwargs': {'list': artists_list}},
    'event_date': {'provider': 'date_between_dates',
                 'kwargs': {'date_start': dt.strptime('2019-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
    'event_location': {'provider': 'city', 'kwargs': {}},
    'event_result': {'provider': 'sample_list', 'kwargs': {'list': ['succesfull']*91 + ['cancelled']*9}},
}
events_df = gen.generate_dataframe(800, events_dict)
events_df.head()

           event_id        event_name  event_date  event_location event_result
0    eid_IrHr-19008          The Cure  2021-11-28    Pricechester   succesfull
1    eid_WUEo-33846           The Jam  2023-06-04    Hartmanshire   succesfull
2    eid_HzPQ-32700   The Stone Roses  2023-07-09     Jimenezport   succesfull
3    eid_WsPj-10149  Blue Oyster Cult  2019-04-24  Fernandezburgh   succesfull
4    eid_LxZU-54142           The Jam  2022-05-19    South Daniel   succesfull
..              ...               ...         ...             ...          ...
795  eid_BRQd-29432       The Beatles  2020-12-22       New Jason   succesfull
796  eid_iWpP-40480          The Cure  2023-04-30  Kruegerchester   succesfull
797  eid_ianu-65117         Radiohead  2020-01-04       East Anna   succesfull
798  eid_ofxG-41112      Led Zeppelin  2021-03-27   Hernandezstad   succesfull
799  eid_uiPI-07345             Oasis  2022-09-15  East Derekport   succesfull

[800 rows x 5 columns]

KeyError: "['hash'] not found in axis"

In [ ]:
tickets_dict = {
    'ticket_no': {'provider':'random_int', 'unique': True, 'kwargs':{"min":0, "max": 1e10}},
    'event_id': {'provider':'sample_dataframe', 'kwargs': {'df': events_df, 'column': 'event_id'}},
    'user_id': {'provider':'sample_dataframe', 'kwargs': {'df': users_df, 'column': 'user_id'}},
    'total_charged': {'provider': 'random_float', 'kwargs': {'min': 20, 'max': 800}},
    'surcharge': {'provider': 'sample_list', 'kwargs': {'list': [5.99]*20 + [11.99]*15 + [0]*15}},
}

tickets_df = gen.generate_dataframe(1000, tickets_dict)
tickets_df.head()

    ticket_no        event_id     user_id  total_charged  surcharge
0  8863622619  eid_pJba-23173  7461881110         208.40       5.99
1  2595583641  eid_ieVK-40945   901424657         791.01       0.00
2  6345534774  eid_msLY-41277  6523944977         132.29       5.99
3  8374337030  eid_rKKk-64647  3989241120         290.97       0.00
4   710922538  eid_sqKp-64982  7592083808         631.23      11.99

In [ ]:

total_rev_by_artist_df = (
    events_df
    .join(tickets_df.set_index('event_id'), on='event_id', how='left')
    .groupby('event_name', as_index=False)
    .agg({'total_charged': 'sum'})
)
total_rev_by_artist_df.head()

         event_name  total_charged
0         Aerosmith        1633.47
1    Arctic Monkeys       13992.44
2         Blink-182        4323.42
3  Blue Oyster Cult        2228.04
4              Blur        4576.53

In [ ]:
from datetime import datetime as dt
import pandas as pd
gen = d.Fablr()
gen.set_seed(123)
test_dict = {
    'col_1': {'provider': 'sample_list', 'kwargs': {'list': [1,2,3,4]}, 'unique': False},
    'col_2': {'provider': 'sample_list', 'kwargs': {'list': ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]}},
    'col_3': {'provider': 'date_between_dates', 'kwargs': {'date_start': dt.strptime('2019-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
    'col_4': {'provider':'sample_list', 'kwargs':{'list':[10,20,30,40,50,60,70,80,90,100], 'unique': True}}
}
test_df = gen.generate_dataframe(10, test_dict)

In [ ]:
## assert dataframe
isinstance(test_df, pd.DataFrame)
## assert length
test_df.shape[0] == 10
## assert width 
test_df.shape[1] == 4
## assert dupes in col_1
test_df['col_1'].drop_duplicates().shape[0] < test_df['col_1'].shape[0]
## assert no dupes in col_2

True