In [1]:
from fablr import dataframes as d
from fablr.sample_assets.artists import artists as artists_list

In [2]:
from fablr.extended_providers import sample_dataframe_provider, sample_list_provider

In [3]:
gen = d.Fablr()
gen.set_seed(123)

In [4]:
from datetime import datetime as dt
date_format = '%Y-%m-%d'
users_dict = {
  'user_id': {'provider':'random_int', 'unique': True, 'kwargs':{"min":0, "max": 1e10}},
  'first_name': {'provider': 'first_name', 'kwargs': {}},
  'last_name': {'provider': 'last_name', 'kwargs': {}},
  'email': {'provider': 'email', 'kwargs': {}},
  'last_login': {'provider': 'date_between_dates',
                 'kwargs': {'date_start': dt.strptime('2023-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
  'subscription_tier' : {'provider': 'sample_list',
                         'kwargs':{'list':["Prime", "Standard"], 'unique': False}}
}

users_df = gen.generate_dataframe(10000, users_dict)
users_df.head(3)

,user_id,first_name,last_name,email,last_login,subscription_tier
0,4519867238,Christopher,Russell,robersonnancy@example.com,2023-07-28,Standard
1,222915915,Derek,Hoffman,frankbullock@example.org,2023-08-21,Standard
2,300119278,Leslie,West,davisdouglas@example.org,2023-04-24,Standard

In [5]:
events_dict = {
    'event_id': {'provider':'bothify', 'kwargs':{'text': 'eid_????-#####'}},
    'event_name': {'provider': 'sample_list', 'kwargs': {'list': artists_list}},
    'event_date': {'provider': 'date_between_dates',
                 'kwargs': {'date_start': dt.strptime('2019-01-01', date_format), 'date_end': dt.strptime('2023-12-01', date_format)}},
    'event_location': {'provider': 'city', 'kwargs': {}},
    'event_result': {'provider': 'sample_list', 'kwargs': {'list': ['succesfull']*91 + ['cancelled']*9}},
}
events_df = gen.generate_dataframe(800, events_dict)
events_df.head()

,event_id,event_name,event_date,event_location,event_result
0,eid_fCUE-28453,Muse,2019-06-02,North Heidi,succesfull
1,eid_xFMH-73878,Red Hot Chili Peppers,2021-01-20,South Courtney,succesfull
2,eid_QgkC-40920,The Stone Roses,2023-07-23,West Albert,succesfull
3,eid_iwvj-44667,The Cure,2023-02-18,South Sandra,succesfull
4,eid_QzjW-74244,Led Zeppelin,2023-10-22,New Darren,succesfull

In [6]:
tickets_dict = {
    'ticket_no': {'provider':'random_int', 'unique': True, 'kwargs':{"min":0, "max": 1e10}},
    'event_id': {'provider':'sample_dataframe', 'kwargs': {'df': events_df, 'column': 'event_id'}},
    'user_id': {'provider':'sample_dataframe', 'kwargs': {'df': users_df, 'column': 'user_id'}},
    'total_charged': {'provider': 'random_float', 'kwargs': {'min': 20, 'max': 800}},
    'surcharge': {'provider': 'sample_list', 'kwargs': {'list': [5.99]*20 + [11.99]*15 + [0]*65}},
}

tickets_df = gen.generate_dataframe(1000, tickets_dict)
tickets_df.head()

AttributeError: 'Generator' object has no attribute 'random_float_between'